body {
    font-family: Verdana, Arial, sans-serif;
}

#header {
    border-bottom: 1px solid black;
}

#logo h3 {
    margin: 0;
    padding: 4px;
}

#logo h3 a {
    font-family: Arial, Verdana, sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

#account {
    float: right;
}

#content {
    padding: 8px;
}

.node {
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px;
}

.node h2 {
    margin: 0;
    padding: 0;
}

.node h2 a {
    font-size: 16px;
    font-weight: bold;
}

.pro {
    background-color: #ddffdd;
}

.con {
    background-color: #ffdddd;
}

.premise {
    background-color: #dce6f3;
}

#id_title {
    width: 650px;
}

input.nodesearch {
    width: 650px;
}

form table {
    border: none;
    border-collapse: collapse;
}

form table td {
    border: none;
}

td.label {
    text-align: right;
}

input.nodeid {
    width: 100px;
}
