body {
    font-family: Verdana, Arial, sans-serif;
    color: #404040;
}

li li {
    list-style-type: circle;
}

li li li {
    list-style-type: square;
}

ul {
    margin-left: .1em;
}

#header {
    border-bottom: 1px solid black;
}

#nav {
    margin-top: 50px;
    float: right;
    clear: both;
}

#account {
    float: right;
}

#content {
    padding: 8px;
}

.node {
    border: 1px solid #D4D4D4;
    margin: 20px 0;
    padding: 0;
}

.node-content {
    padding: 10px;
}

.node h2 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: normal;
}

.node h2 a {
    text-decoration: none;
    color: #404040;
    padding: 10px;
    display: block;
}

h3 {
    margin-left: 10px;
}

.add {
    margin: 10px 0;
    padding: 10px;
}

.pro > .node > .node-header {
    background-color: #90ff9d;
    border-color: #79D684;
}

.pro > .add > a {
    background-color: #90FF9D !important;
}

.con > .node > .node-header {
    background-color: #FF9A9A;
    border-color: #D48080;
}

.con > .add > a {
    background-color: #FF9A9A !important;
}

.premise > .node > .node-header {
    background-color: #dce6f3;
    border-color: #A9B0BA;
}

.premise  > .add >  a {
    background-color: #DCE6F3 !important;
}


#id_title {
    width: 650px;
}

input.nodesearch {
    width: 650px;
}

form table {
    border: none;
    border-collapse: collapse;
}

form table td {
    border: none;
}

td.label {
    text-align: right;
}

input.nodeid {
    width: 100px;
}

table.changelist {
    border: none;
}

table.changelist td {
    border: none;
}

table.changelist .date {
    font-size: .9em;
    background: #F0F0F0;
    padding: 4px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 200px;
}

.inverted > .node-header > h2 > a {
    background: url(/media/img/invert.png) no-repeat;
    background-position: 10px 12px;
    padding-left: 28px;
}

.html-content {
    background-color: #EAEAEA;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #DEDEDE;
    color: #292929;
}

.html-content h1, .html-content h2, .html-content h3, .html-content h4, .html-content h5 {
    font-weight: bold !important;
    margin: 4px 0 !important;
    padding: 4px 0 !important;
}

.html-content h1 {
    font-size: 1.5em !important;
    color: #000000 !important;
}

.html-content h2 {
    font-size: 1.2em !important;
}

.html-content h3 {
    font-size: 1em !important;
    font-weight: bold !important;
}

.html-content ul {
    margin: 10px 0;
}

.html-content li > ul {
    margin: 4px;
}

.html-content p {
    margin: 10px;
    padding: 0 10px;
}

div.tools {
    margin: 8px 0 0 0;
}

.tools a, .add a {
    text-decoration: none;
    margin: 2px 2px 2px 0;
    padding: 2px 4px;
    background-color: #C5C5C5 !important;
    color: #404040;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-size: 0.8em;
}
