<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Truth Finder</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/node_dropdown.js"></script>
    {% block extra_head %}{% endblock %}
  </head>
  <body{% block bodytags %}{% endblock %}>
    <div id="header">
      <div id="logo">
        <h3><a href="{% url home %}">Truth Finder</a></h3>
      </div>
      <div id="account">
        {% if user %}
          {{ user.email }} <a href="{{ logout_url }}">Sign out</a>
        {% else %}
          <a href="{{ login_url }}">Sign in</a>
        {% endif %}
      </div>
    </div>
    {% block content %}{% endblock %} 
  </body>
</html>
