{% extends 'base.html' %}

{% load hash_filter %}

{% block title %}Changelist - {{ block.super }}{% endblock %}

{% block content %}
  <h1>Changelist</h1>
  {% if changes.object_list %}
    <table class="changelist">
      {% for change in changes.object_list %}
        <tr>
          <td class="date">
            {{ change.date|date:"F d, Y H:i:s" }}
          </td>
          <td>
            {{ change.user }}
            {% if change.change_type == 0 %}
              pinned
              {% include 'changelist_node.html' %}
              as a
              <strong>{{ change.pin_type|hash:pin_type_names }}</strong>
              to
              {% include 'changelist_parent_node.html' %}
            {% endif %}{% if change.change_type == 1 %}
              unpinned
              {% include 'changelist_node.html' %}
              as a
              <strong>{{ change.pin_type|hash:pin_type_names }}</strong>
              from
              {% include 'changelist_parent_node.html' %}
            {% endif %}{% if change.change_type == 2 %}
              created
              {% include 'changelist_node.html' %}.
            {% endif %}{% if change.change_type == 3 %}
              deleted
              <em>{{ change.node_title }}</em>
            {% endif %}{% if change.change_type == 4 %}
              edited
              {% include 'changelist_node.html' %}.
            {% endif %}{% if change.change_type == 5 %}
              added
              {% include 'changelist_node.html' %}
              as a
              <strong>{{ change.pin_type|hash:pin_type_names }}</strong>
              to
              {% include 'changelist_parent_node.html' %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <div class="pagination">
      <span class="step-links">
        {% if changes.has_previous %}
            <a href="?page={{ changes.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ changes.number }} of {{ changes.paginator.num_pages }}.
        </span>

        {% if changes.has_next %}
            <a href="?page={{ changes.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
  {% else %}
    <p>No changes in database.</p>
  {% endif %}
{% endblock %}
