{% load hash_filter %}

<div class="node{% if node_rel.invert_child %} inverted{% endif %}">
  <div class="node-header">
    <h2>
      {% if node %}
        <a
          {% if node_rel %}
            data-relid="{{ node_rel.id }}"
          {% endif %}
          data-nodeid="{{ node.id }}"
          href="{% url node node.id %}">{% if node_rel.invert_child %}<strong>Not (</strong>{% endif %}{{ node.title|expand_node_titles }}{% if node_rel.invert_child %}<strong>)</strong>{% endif %}
        </a>
      {% else %}
        Error
      {% endif %}
    </h2>
  </div>
  <div class="node-content" style="display: none;">
  </div>
</div>
