{% load hash_filter %}

<div class="tools">
  <a href="{% url node node.id %}">Link</a>
  <a href="{% url edit node.id %}">Edit</a>
  <a href="{% url delete node.id %}">Delete</a>
  <a href="{% url pin node.id %}">Pin</a>
  {% if parents %}
    Parents: 
    {% for parent_rel in parent_rels %}
      {% with parent_rel.parent_node as parent %}
        <a href="{% url node parent.id %}">{{ parent.title }} ({{ parent_rel.relationship|hash:relationship_choices }})</a>
        <a href="{% url unpin node.id parent.id parent_rel.relationship %}">(Unpin)</a>
      {% endwith %}
    {% endfor %}
  {% endif %}
</div>
<div class="premise">
  {% if premises %}
    {% for premise in premises %}
      {% with premise as node %}
        {% include 'expandable_node.html' %}
      {% endwith %}
    {% endfor %}
  {% endif %}
  <a href="{% url premise node.id %}" class="add">Add New Premise</a>
</div>
<div class="html-content">
  {{ node.content|safe }}
</div>
<div class="pro">
  {% if pros %}
    {% for pro in pros %}
      {% with pro as node %}
        {% include 'expandable_node.html' %}
      {% endwith %}
    {% endfor %}
  {% endif %}
  <a href="{% url pro node.id %}" class="add">Add New Pro Argument</a>
</div>
<div class="con">
  {% if cons %}
    {% for con in cons %}
      {% with con as node %}
        {% include 'expandable_node.html' %}
      {% endwith %}
    {% endfor %}
  {% endif %}
  <a href="{% url con node.id %}" class="add">Add New Con Argument</a>
</div>

