{% load hash_filter %}

<div class="tools">
  <a href="{% url node node.id %}">Link</a>
  <a href="{% url edit node.id %}">Edit</a>
  <a href="{% url delete node.id %}">Delete</a>
  <a href="{% url pin node.id %}">Pin</a>
  {% if node_rel %}
    <a href="{% url unpin node_rel.id %}">Unpin</a>
    <a href="{% url invert node_rel.id %}">Invert</a>
  {% endif %}
  {% if parent_rels %}
    Parents: 
    {% for parent_rel in parent_rels %}
      <a href="{% url node parent_rel.parent_node.id %}">{{ parent_rel.parent_node.title }} ({% if parent_rel.invert_child %}Inverted {% endif %}{{ parent_rel.relationship|hash:relationship_choices }})</a>
    {% endfor %}
  {% endif %}
</div>
<div class="premise">
  {% if premise_rels %}
    {% for premise_rel in premise_rels %}
      {% with premise_rel as node_rel %}
        {% with node_rel.child_node as node %}
          {% include 'expandable_node.html' %}
        {% endwith %}
      {% endwith %}
    {% endfor %}
  {% endif %}
  Add Premise:
  <a href="{% url premise node.id %}" class="add">Create New</a>
  <a href="{% url pin_existing node.id 2 %}" class="add">Pin Existing</a>
</div>
<div class="html-content">
  {{ node.content|safe }}
</div>
<div class="pro">
  {% if pro_rels %}
    {% for pro_rel in pro_rels %}
      {% with pro_rel as node_rel %}
        {% with node_rel.child_node as node %}
          {% include 'expandable_node.html' %}
        {% endwith %}
      {% endwith %}
    {% endfor %}
  {% endif %}
  Add Pro Argument:
  <a href="{% url pro node.id %}" class="add">Create New</a>
  <a href="{% url pin_existing node.id 0 %}" class="add">Pin Existing</a>
</div>
<div class="con">
  {% if con_rels %}
    {% for con_rel in con_rels %}
      {% with con_rel as node_rel %}
        {% with node_rel.child_node as node %}
          {% include 'expandable_node.html' %}
        {% endwith %}
      {% endwith %}
    {% endfor %}
  {% endif %}
  Add Con Argument:
  <a href="{% url con node.id %}" class="add">Create New</a>
  <a href="{% url pin_existing node.id 1 %}" class="add">Pin Existing</a>
</div>

