{% extends 'base.html' %}

{% load hash_filter %}

{% block title %}Pinning claim - {{ block.super }}{% endblock %}

{% block content %} 
  <h1>Pinning claim</h1>
  <form action="." method="post">
    {{ form.non_field_errors }}
    <table>
      <tr>
        <td class="label">
          This claim:
        </td>
        <td>
          <em>{{ child_node.title|expand_node_links }}</em>
          <input type="hidden" name="child_node" value="{{ child_node.id }}" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="id_invert_child">Inverted?</label>
        </td>
        <td>
          {{ form.invert_child.errors }}
          {{ form.invert_child }}
        </td>
      </tr>
      <tr>
        <td class="label">
          <label for="id_relationship">Is a:</label>
        </td>
        <td>
          {{ form.relationship.errors }}
          {{ form.relationship }}
        </td>
      </tr>
      <tr>
        <td class="label">
          <label for="parent_node">Of:</label>
        </td>
        <td>
          {{ form.parent_node.errors }}
          <input type="text" id="parent_node" class="nodesearch" />
        </td>
      </tr>
      <tr>
        <td class="label"></td>
        <td>
          <input type="submit" value="Pin" />
        </td>
      </tr>
    </table>
  </form>
{% endblock %}
